/gradlew     text
/gradlew.bat text
*.gradle     text

.gitignore   text
*.java       text
*.kt         text
*.md         text
*.pro        text
*.properties text
*.txt        text
*.xml        text
*.yml        text
