<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6000" android:versionName="0.6.0" package="me.thekey.android.lib">

<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>

    <application>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/thekey_title_activity_login" android:name="me.thekey.android.lib.activity.LoginActivity"/>
    </application>

</manifest>